.substrate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper {
    width: 500px;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #e0e0e0;
    border-radius: 5px;
  }
  
  .action-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .header {
    background-color: #e7e5e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px;
  }
  
  .text {
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    padding: 0 20px;
  }
  
  .title {
    color: rgb(75, 75, 75);
    
  }
  
  .close-button {
    cursor: pointer;
    background-color: transparent;
    color: #ccc;
    outline: none;
    border: none;
    font-size: 20px;
    transition: color .4s ease;
  
    &:hover {
      color: #fff;
    }
  }
  